.all{
   width: 50%; 
}
#img{
    display: flex;
    height: 200px;
    width: 200px;
    display:inline-block;
}
.Profile{
    display: flex;
     text-align: left;
    display: inline-block;
    
}
.about{
    text-align: right ;
    display: flex;
     display: inline-block;
     margin-inline-start: 45%;
     text-decoration: underline;
    position: absolute;
    top: 25%;
	left:22%
}
.me{
    display: flex;
    position:absolute ;
    top: 30%;
    left: 8vw;
     display: inline-block;
     margin-inline-start: 450px;

    
}
.me2{
    display: flex;
    position:absolute ;
    top: 340px;
    left: 8vw;
     display: inline-block;
     margin-inline-start: 450px;

    
}
.info{
    display: flex;
    display: inline-block;
    padding-top: 25px;
	position:absolute;
	top:10%

}
.container{
    width: 400px;
    background-color:rgb(197, 197, 205);
    border: solid 1px;
    box-shadow: 20px;
}
.skillset{
    text-align: right;
    color: white;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.icon{
    width: 50px;
}
.css{
    width: 89%;
    background-color: rgb(8, 162, 233);
}
.html{
    width: 95%;
    background-color:rgb(243, 118, 1);
}
.git{
    width: 85%;
    background-color:rgb(95, 136, 136);
}
.js{
    width: 85%;
    background-color:rgb(243, 239, 43);
}
